<h1>Scroll Test</h1>

<section style="height: 60vh">
    <h2 id="1">1</h2>

    <a href="#1">1</a>
    <a href="#2">2</a>
    <a href="#3">3</a>
    <a href="#4">4</a>

</section>

<section style="height: 60vh">
    <h2 id="2">2</h2>

    <a href="#1">1</a>
    <a href="#2">2</a>
    <a href="#3">3</a>
    <a href="#4">4</a>

</section>

<section style="height: 60vh">
    <h2 id="3">3</h2>

    <a href="#1">1</a>
    <a href="#2">2</a>
    <a href="#3">3</a>
    <a href="#4">4</a>

</section>

<section style="height: 60vh">
    <h2 id="4">4</h2>

    <a href="#1">1</a>
    <a href="#2">2</a>
    <a href="#3">3</a>
    <a href="#4">4</a>

</section>
